<h2>Editar categoria</h2>

<div class="well">
  <form #formCategoria="ngForm">
    <div class="form-group row">
      <div class="row">
        <div class="col-md-12">
          <label for="nome">Nome:</label>
          <input [(ngModel)]="categoria.nome" #nome="ngModel" type="text" class="form-control" id="nome" name="nome" minlength="4" required>
          <div *ngIf="nome.errors && (nome.dirty || nome.touched)">
            <div class="alert alert-danger">
              <div [hidden]="!nome.errors.required">
                Dê um nome a essa categoria.
              </div>
              <div [hidden]="!nome.errors.minlength">
                O nome dessa categoria deve conter ao menos 4 caracteres.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"><div class="form-group text-center col-md-12">
      <a class="btn btn-success" (click)="atualizar()" [class]="{'disabled':!formCategoria.form.valid}">
        <span class="glyphicon glyphicon-floppy-disk" style="top: 2px;"></span>&nbsp; Salvar
      </a>
      <a [routerLink]="['/categorias']" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
      </a>
    </div></div>
  </form>
</div>
