.well{
  margin-bottom: 2px;
}

.row{
  overflow: hidden;
}

.grafico {
  float: left;
  width: 525px;
  margin: 0px;
}

.segundaLinha {
  margin-left: -5px;
}

#form_datas {
  width: 296px;
  height: 55px;
}

@media only screen and (max-width: 500px) {
  .row {
    overflow-x: auto;
  }

  .centerPhone {
    text-align: center;
  }

  .grafico {
    width: 515px !important;
  }

  .primeiraLinha {
    margin-left: -55px !important;
  }

  .segundaLinha {
    margin-left: -110px !important;
  }

  #pie_historico{
    margin-left: -75px !important;
  }

}
