.well{
  margin-bottom: 2px;
}

.row{
  overflow: hidden;
}

.fLeft{
  float: left;
  margin: 0;
  line-height: 56px;
}

.grafico {
  float: left;
  width: 525px;
  margin: -20px 0 0;
}

.segundaLinha {
  margin: -5px 0 -40px -5px;
}

#form_datas {
  width: 296px;
  height: 55px;
}

.showOnPhone{
  display: none;
}

@media only screen and (max-width: 768px) {
  .hiddenOnTablet{
    display: none;
  }

  .fLeft{
    margin-left: 25px;
  }
}

@media only screen and (max-width: 414px) {
  .hiddenOnPhone{
    display: none;
  }

  .showOnPhone{
    display: block;
  }

  .fLeft{
    line-height: 24px;
  }
  
  .row {
    overflow-x: auto;
  }

  .centerPhone {
    text-align: center;
  }

  .grafico {
    width: 515px !important;
  }

  .primeiraLinha {
    margin-left: -55px !important;
  }

  .segundaLinha {
    margin-left: -110px !important;
  }

  #pie_historico{
    margin-left: -75px !important;
  }

}
