<h1>Cadastrar despesa</h1>

<div class="well">
  <form #formDespesa="ngForm">
    <div class="form-group row">
      <div class="row">
        <div class="col-md-4">
          <label for="nome">Descrição:</label>
          <input [(ngModel)]="despesa.nome" #nome="ngModel" type="text" class="form-control" id="nome" name="nome" minlength="4" required>
          <div *ngIf="nome.errors && (nome.dirty || nome.touched)">
            <div class="alert alert-danger">
              <div [hidden]="!nome.errors.required">
                Descreva essa despesa.
              </div>
              <div [hidden]="!nome.errors.minlength">
                A descrição deve conter ao menos 4 caracteres.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="data">Data:</label>
          <input [(ngModel)]="dataForm" #data="ngModel" type="datetime-local" class="form-control center-block" id="data" name="data" required>
          <div *ngIf="data.errors && (data.dirty || data.touched)">
            <div class="alert alert-danger">
              <div [hidden]="!data.errors.required">
                Informe a data.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-4">
        <label for="conta">Escolha a conta:</label>
        <select class="form-control" [(ngModel)]="despesa.conta" #conta="ngModel" id="conta" name="conta" required>
          <option value="">--selecione--</option>
          <option *ngFor="let item of contas" [value]="item" [attr.selected]="item == conta ? true : null">
            {{item}}
          </option>
        </select>
        <div *ngIf="conta.errors && (conta.dirty || conta.touched)" class="alert alert-danger">
          <div [hidden]="!conta.errors.required">
            Escolha a conta desta despesa.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="valor">Valor:</label>
        <input type="number" [(ngModel)]="despesa.valor" #valor="ngModel" class="form-control" id="valor" name="valor" required>
        <div *ngIf="valor.errors && (valor.dirty || valor.touched)" class="alert alert-danger">
          <div [hidden]="!valor.errors.required">
            Digite o valor da despesa (em R$).
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="row"><div class="form-group text-center col-md-8">
      <a class="btn btn-success" (click)="cadastrar()" [class]="{'disabled':!formDespesa.form.valid}">
        <span class="glyphicon glyphicon-floppy-disk" style="top: 2px;"></span>&nbsp; Salvar
      </a>
      <a [routerLink]="['/despesas']" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
      </a>
    </div></div>
  </form>
</div>
