#btn-fechar{
    float: right;
    margin-top: 2px;
    padding-top: 2px;
}

#inputMath{
    width: 94%; 
    margin-left: 7px; 
    margin-bottom: 8px;
}

.btn-math{
    width:40px; 
    margin-top: 8px; 
    margin-bottom: 8px;
}