.table>tbody>tr>th{
    vertical-align: middle;
  }

.size-a {
    width: 140px;
}

.size-b {
    max-width: 140px;
    min-width: 112px;
}

.size-c{
    width: 220px;
}

.table-box th, .table-box td{
    vertical-align: middle;
}

@media only screen and (max-width: 414px) {
    .hiddenOnPhone{
      display: none;
    }
}