<div class="container-fluid" style="padding-top:5px;">
  <nav class="navbar navbar-default">
    <img class="left" width="40" alt="{{title}}" title="{{title}}" src="assets/money.png" />
    <div class="container-fluid">
      <div class="navbar-brand hello">
        <span (click)="editarUsuario();" *ngIf="usuario != 'Convidado'">Olá, {{usuario}}!</span>
        <span (click)="editarUsuario();" *ngIf="usuario == 'Convidado'">Fazer login!</span>
      </div>
      <nav class="navbar-header" *ngIf="usuario != 'Convidado'">
        <a class="navbar-brand" href="/principal">Gráficos</a>
        <a class="navbar-brand" href="/contas">Contas</a>
        <a class="clear"></a>
        <a class="navbar-brand" href="/categorias">Categorias</a>
        <a class="navbar-brand" href="/despesas">Despesas</a>
        <a class="navbar-brand" href="/receitas">Receitas</a>
      </nav>
      <div class="navbar-header" *ngIf="usuario == 'Convidado'">
        <h3><a class="navbar-brand" href="/principal">{{title}}</a></h3>
      </div>
    </div>
  </nav>
  <div class="navbar navbar-header right" *ngIf="usuario != 'Convidado'">
    <h4>
      <a class="btn btn-xs btn-success" (click)="calculadora()" title="Calculadora">
        <span class="glyphicon glyphicon-modal-window"></span>
      </a>
    </h4>
    <h4>
      <a class="btn btn-xs btn-primary" (click)="refreshDados()" title="Atualizar Dados">
        <span class="glyphicon glyphicon-retweet"></span>
      </a>
    </h4>
  </div>
  <router-outlet *ngIf="usuario != 'Convidado'"></router-outlet>
</div>
<div class="container-fluid" *ngIf="usuario == 'Convidado'">
  <div class="well">
    <h3>Faça <a (click)="editarUsuario();" style="cursor: pointer;">login</a> para começar a usar a ferramenta.</h3>
  </div>
</div>