<h1>Pagamentos</h1>

<table class="table table-striped table-bordered table-hover">
  <tbody>
  <tr>
  	<th>Descrição</th>
    <th class="hiddenOnPhone">Conta</th>
    <th class="hiddenOnPhone size-a">Data</th>
    <th class="size-b">Valor</th>
  	<th rowspan="2" class="text-center size-b">
      <a class="btn btn-xs btn-success" [routerLink]="['/pagamentos/cadastrar']" title="Novo">
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
      </a>
    </th>
  </tr>
  <tr class="hidden"><th colspan="4">&nbsp;</th></tr>
  <tr>
    <th>
      <form #formFiltroNome="ngForm"><input [(ngModel)]="filtro.nome" [ngModelOptions]="{standalone: true}" type="text" class="form-control" (ngModelChange)="filtrar()" placeholder="filtrar"></form>
      <div class="right"><a class="btn btn-xs btn-danger" *ngIf="filtro.nome!=''" (click)="limparFiltro(1)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></div>
    </th>
    <th class="hiddenOnPhone">
      <form #formFiltroConta="ngForm"><input [(ngModel)]="filtro.conta" [ngModelOptions]="{standalone: true}" type="text" class="form-control" (ngModelChange)="filtrar()" placeholder="filtrar" ></form>
      <div class="right"><a class="btn btn-xs btn-danger" *ngIf="filtro.conta!=''" (click)="limparFiltro(2)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></div>
    </th>
    <th class="hiddenOnPhone size-a">-</th>
    <th class="size-b"><span style="color: navy;">R$ {{total | number:'.2'}}</span></th>
  </tr>
  <tr *ngFor="let recebimento of recebimentos">
    <td class="disable-text" #tooltip="matTooltip" (click)="tooltip.show()" matTooltip="{{recebimento.conta}}" [matTooltipPosition]="'above'">{{recebimento.nome}}</td>
    <td class="hiddenOnPhone">{{recebimento.conta}}</td>
    <td class="hiddenOnPhone size-a">{{recebimento.data | date:'dd/MM/yyyy HH:mm'}}</td>
    <td class="disable-text size-b">R$ {{recebimento.valor | number:'.2'}}</td>
    <td class="text-center size-b">
      <a title="Editar" [routerLink]="['/pagamentos/editar/', recebimento.id]" alt="Editar" class="btn btn-xs btn-info">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
      </a>
      <a href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger" (click)="apagar($event, recebimento.id);">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remover
      </a>
    </td>
  </tr>
  </tbody>
</table>

<p *ngIf="recebimentos.length == 0">Nenhum pagamento encontrado.</p>
