<h1>Pagamentos</h1>

<div class="table-box">
<table class="table table-striped table-bordered table-hover">
  <tbody>
  <tr>
  	<th>Descrição<span class="showOnPhone">/Conta</span></th>
    <th class="hiddenOnPhone">Conta</th>
    <th class="hiddenOnPhone size-a">Data</th>
    <th class="size-b">Valor</th>
  	<th rowspan="2" class="text-center size-c">
      <a class="btn btn-success" [routerLink]="['/pagamentos/cadastrar']" title="Novo">
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
      </a>
    </th>
  </tr>
  <tr class="hidden"><th colspan="4">&nbsp;</th></tr>
  <tr>
    <th class="hiddenOnPhone">
      <form #formFiltroNome="ngForm">
        <input [(ngModel)]="filtro.nome" [ngModelOptions]="{standalone: true}" type="text" class="form-control" (ngModelChange)="filtrar()" placeholder="filtrar">
      </form>
      <div class="right"><a class="btn btn-xs btn-danger" *ngIf="filtro.nome!=''" (click)="limparFiltro(1)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></div>
    </th>
    <th>
      <form #formFiltroConta="ngForm">
        <select [(ngModel)]="filtro.conta" [ngModelOptions]="{standalone: true}" class="form-control" (change)="filtrar()">
          <option value="">(Todas)</option>
          <option *ngFor="let x of contaService.contas" value="{{x.nome}}">{{x.nome}}</option>
        </select>
      </form>
    </th>
    <th class="hiddenOnPhone">-</th>
    <th><span style="color: navy;">R$ {{total | number:'.2'}}</span></th>
  </tr>
  <tr *ngFor="let recebimento of recebimentos">
    <td class="disable-text" #tooltip="matTooltip" (click)="tooltip.show()" matTooltip="{{recebimento.conta}}" [matTooltipPosition]="'above'">{{recebimento.nome}}</td>
    <td class="hiddenOnPhone">{{recebimento.conta}}</td>
    <td class="hiddenOnPhone">{{recebimento.data | date:'dd/MM/yyyy HH:mm'}}</td>
    <td class="disable-text">R$ {{recebimento.valor | number:'.2'}}</td>
    <td class="text-center">
      <a title="Editar" [routerLink]="['/pagamentos/editar/', recebimento.id]" alt="Editar" class="btn btn-info">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span class="hiddenOnPhone"> Editar</span>
      </a>
      <a href="#" title="Remover" alt="Remover" class="btn btn-danger" (click)="apagar($event, recebimento.id);">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="hiddenOnPhone"> Remover</span>
      </a>
    </td>
  </tr>
  </tbody>
</table>
</div>

<div class="alert alert-warning" *ngIf="recebimentos.length == 0">Nenhum pagamento encontrado.</div>

<!-- Modal -->
<ng-container #vc></ng-container>
<ng-template #modal_dialog>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeDialog()"> &times; </button>
                    <h4 class="modal-title">{{modalTitulo}}</h4>
                </div>
                <div class="modal-body alert">{{modalTexto}}</div>
                <div class="modal-footer" *ngIf="modalTipo == 1">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeDialog()">OK </button>
                </div>
                <div class="modal-footer" *ngIf="modalTipo == 2">
                  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="confirmar(data_id); closeDialog()">Sim </button>&nbsp;
                  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeDialog()">Não </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
