/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eaf5ea !important;
}

.navbar-default, .well, .table {
  background-color: #f1faf1 !important;
  border: 1px solid #ddd !important;
}

.table {
  margin: 0 !important;
}

.table-box {
  margin: 36px 0;
}

.btn{
  margin-left: 7px;
  margin-right: 7px;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0,0,0,.6);
}

.modal-footer .btn+.btn {
  margin-bottom: 2px !important;
}

.modal-dialog{
  margin: -5rem auto !important;
}

.modal-content{
  width: 96% !important;
  margin: auto;
}

.modal-dialog-centered{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}

.container-fluid{
  max-width: 1500px;
}

@-moz-document url-prefix() {
  select.form-control {
    padding-right: 25px;
    background-image: url("data:image/svg+xml, <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'> <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/></svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) 50%;
    -moz-appearance: none;
    appearance: none;
  }
  select.form-control option{
    font-family: 'Helvetica';
  }
}